@import url("https://fonts.googleapis.com/css?family=Bangers");

html,
body {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

body {
  background-image: url(https://i.pinimg.com/originals/45/d4/59/45d4595488d79792342ba0ab12dc071f.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

body:before {
  filter: blur(10px);
}

.navbar {
  min-height: 7.25rem;
}

.navbar-item img {
  width: 300px;
  max-height: 100%;
}

.hero-container {
  background-image: linear-gradient(
    to right bottom,
    #29d3d3,
    #00cefc,
    #56c1ff,
    #b5abff,
    #f890e7
  );
  text-align: center;
}

.desctext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-container {
  padding-bottom: 40px;
}

.threecol {
  background-color: white;
}

.center {
  text-align: center;
}

.slider {
  height: 300px;
  background-color: pink;
  text-align: center;
}

.buynowcont {
  background-color: lightblue;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
a {
  color: white;
}

/* CHECKOUTPAGE CSS */
.legendsBG {
  background-color: white;
  padding: 100px;
  margin: 30px;
}
#root > div > div > div:nth-child(1) > form > fieldset > legend{
  color: rgb(219,62,177);
  font-size:3em;
}

.subscribebut {
  align-self: center;
}