@import url('https://fonts.googleapis.com/css?family=Bangers');

html, body {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

body {
  background-image: url(https://i.pinimg.com/originals/45/d4/59/45d4595488d79792342ba0ab12dc071f.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: 'Bangers'
}

body:before {
  filter: blur(10px);
}

