@import url("https://fonts.googleapis.com/css?family=Questrial");

body {
  margin: 0;
  padding: 0;
  font-family: "Questrial" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root > div > div > div > div.threecol.center {
  margin: 100px;
  padding: 50px;
  margin-top: 100px;
}

#root > div > div > div > div.threecol.center > div > div:nth-child(1) > p,
#root > div > div > div > div.threecol.center > div > div:nth-child(2) > p,
#root > div > div > div > div.threecol.center > div > div:nth-child(3) > p {
  width: 250px;
}

#root > div > div > div > div.threecol.center > div > div:nth-child(1),
#root > div > div > div > div.threecol.center > div > div:nth-child(2),
#root > div > div > div > div.threecol.center > div > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root > div > div > div > div.threecol.center > div > div:nth-child(1) > h2,
#root > div > div > div > div.threecol.center > div > div:nth-child(2) > h2,
#root > div > div > div > div.threecol.center > div > div:nth-child(3) > h2 {
}

#root > div > div > div > div.threecol.center > div > div:nth-child(1) > h4,
#root > div > div > div > div.threecol.center > div > div:nth-child(2) > h4,
#root > div > div > div > div.threecol.center > div > div:nth-child(3) > h4 {
  color: grey;
}

#root > div > div > div > div.threecol.center > h1 {
  font-size: 4em;
}

#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
  color: rgb(65, 182, 230) !important;
}

#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
}

/* .hero-container {
 background: white;
} */

#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
  color: rgb (65, 182, 230);
}

#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
  color: rgb (65, 182, 230);
}

#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
}

.hero-container {
  background: white !important;
}

.buyPageModule {
  background: white;
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.buyPageContainer {
  display: flex;
  justify-content: space-around;
}

#root > div > div > div:nth-child(1) > h1,
#root > div > div > div:nth-child(2) > h1,
#root > div > div > div:nth-child(3) > h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 30px;
}

#root > div > div > div:nth-child(1) > button,
#root > div > div > div:nth-child(2) > button,
#root > div > div > div:nth-child(3) > button {
  background-image: none;
  background: rgb(219, 62, 177);
  border: 3px solid rgb(219, 62, 177);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Questrial";
  font-weight: 700;
  padding: 7px 15px;
  font-size: 1.4rem;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 5px;
}

#root > div > div > div:nth-child(1) > button:hover {
  color: white;
}

#root > div > div > div:nth-child(1) > img,
#root > div > div > div:nth-child(2) > img,
#root > div > div > div:nth-child(3) > img {
  height: 200px;
}

#root > div > div > div:nth-child(1) > h2,
#root > div > div > div:nth-child(2) > h2,
#root > div > div > div:nth-child(3) > h2 {
  font-size: 1.5em;
  color: grey;
  margin: 15px;
}

.hero-container {
  background: white !important;
}
#root > div > div > div > div.hero-container > div > div.column.desctext > h4 {
  text-align: justify;
  font-weight: 200;
  line-height: 1.5;
  padding-right: 10%;
}
#root > div > div > div > div.hero-container {
  margin: 100px;
}
#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
  margin: 50px;
  color: rgb(219, 62, 177) !important;
  font-size: 4em;
  padding-right: 10%;
}
#root > div > div > div > div.hero-container > div > div:nth-child(1) > img {
  margin-top: 150px;
}
#root > div > div > div > div.threecol.center > h1 {
  color: rgb(219, 62, 177) !important;
}

#navbarBasicExample > div.navbar-start > a:nth-child(1) {
  color: rgb(219, 62, 177) !important;
}
#root > div > div > div > div.slider {
  background-color: white;
  margin: 100px;
}

#root > div > div > div > div.slider > div > div > img {
  width: 350px;
}

.hero-container {
  background: white !important;
}
#root > div > div > div > div.hero-container > div > div.column.desctext > h4 {
  text-align: justify;
  font-weight: 200;
  line-height: 1.5;
  padding-right: 10%;
}
#root > div > div > div > div.hero-container {
  margin: 100px;
}
#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
  margin: 50px;
  color: rgb(219, 62, 177) !important;
  font-size: 4em;
  padding-right: 10%;
}
#root > div > div > div > div.hero-container > div > div:nth-child(1) > img {
  margin-top: 150px;
}
#root > div > div > div > div.threecol.center > h1 {
  color: rgb(219, 62, 177) !important;
}

#navbarBasicExample > div.navbar-start > a:nth-child(1) {
  color: rgb(219, 62, 177) !important;
}
#root > div > div > div > div.slider {
  background-color: white;
  margin: 100px;
}

#root > div > div > div > div.slider > div > div > img {
  width: 350px;
}
#root > div > div > div > div.slider > div > div > button {
  font-family: "Questrial";
  padding: 10px;
  text-align: center;
  background-color: rgb(219, 62, 177);
  border-radius: 5px;
  border: rgb(219, 62, 177);
}
#root > div > div > div > div.slider > div > div > button > a > h3 {
  color: white;
  text-align: center;
  margin: 5px;
  font-size: xx-large;
}

#root > div > div > div > div.hero-container {
  margin: 100px;
}
#root > div > div > div > div.hero-container > div > div.column.desctext > h1 {
  margin: 50px;
  color: rgb(219, 62, 177) !important;
  font-size: 4em;
  padding-right: 10%;
}
#root > div > div > div > div.hero-container > div > div:nth-child(1) > img {
  margin-top: 150px;
}
#root > div > div > div > div.threecol.center > h1 {
  color: rgb(219, 62, 177) !important;
}

#navbarBasicExample > div.navbar-start > a:nth-child(1) {
  color: rgb(219, 62, 177) !important;
}
#root > div > div > div > div.slider {
  background-color: white;
  margin: 100px;
}

#root > div > div > div > div.slider > div > div > img {
  width: 350px;
}
